image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
log
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
exp/scannet/not_normalized_single_200/result/
exp/scannet/not_normalized_single_1500/result/
exp/scannet/not_normalized_single_1500/result/
exp/scannet/pipe_single_1500/result/
exp/scannet/pipe2/result/
exp/scannet/semseg-spunet-v1m1-0-base/result/
pipe_data/
pipe_dataset/